.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
}

.banner-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 30px 30px;
}

.user-avatar {
  margin-right: 5vw;
}
.avatar {
  background-color: #456672;
}

.banner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
}

.banner-title {
  font-family: var(--cabin);
  font-size: 36px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.banner-subtitle {
  font-family: var(--cabin);
  font-size: 20px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  margin-top: 0vh;
}

.current-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 5vw;
}

.trip-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

.trips-title {
  font-family: var(--cabin);
  font-size: 36px;
  line-height: normal;
  font-style: normal;
  font-weight: 520;
  color: #c98c70;

  position: relative;
  display: inline-block;
}

.trips-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #c98c70;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.trip {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-right: 2vw;
}

.trips-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 90vw;
  overflow-x: auto;
  margin-top: 3vh;
  white-space: nowrap;
}

.trip-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 15vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}

.trip-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.trip-info {
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-bottom: 2vh;
}

.trip-name,
.trip-location,
.trip-date {
  font-family: var(--cabin);
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: #456672;
}

.trip-name {
  font-size: 20px;
}
.trip-date {
  font-size: 12px;
}

.menu-dots {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%; /* Circular shape */
  padding: 10px; /* Space around the dots */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hide the default outline for focused elements */
.menu-dots:focus {
  outline: none;
}

/* Additional styling for the dots on hover */
.menu-dots:hover {
  background-color: rgb(
    128,
    128,
    128,
    0.5
  ) !important; /* Grey faded background */
}

.plan-trip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.plan-trip-title-container {
  width: calc(100% - 4.3vw);
  margin-left: 4.3vw;
  margin-top: 5vh;
}

.plan-trip-title {
  font-family: var(--cabin);
  font-size: 36px;
  line-height: normal;
  font-style: normal;
  font-weight: 530;
  color: #c98c70;
  position: relative;
  display: inline-block;
}

.plan-trip-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #c98c70;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.plan-trip-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.input-trip-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 3vh;
  margin-left: 4vw;
  width: calc(50% - 4vw);
}

.input-trip {
  margin-bottom: 3vh;
  width: 20vw;
  height: 3.5vh;
}

.trip-name-input,
.trip-location-input,
.start-date-input,
.end-date-input {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-family: var(--cabin);
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  background-color: #e3b587;
  border: 2px solid #e3b587;
  border-radius: 15px;
  color: #456672;
  outline: none;
  padding: 3px 15px;
}

.trip-name-input::placeholder,
.trip-location-input::placeholder,
.start-date-input::placeholder,
.end-date-input::placeholder {
  color: #456672a6;
}

.input-trip-button {
  width: 21.8vw;
  height: 4.5vh;
}

.plan-trip-button {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-family: var(--cabin);
  font-size: 20px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  background-color: #314357;
  border: 2px solid #314357;
  border-radius: 15px;
  color: #e3b587;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-trip-button:hover {
  background-color: #314357;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 15px #456672;
}

.invite-partner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 5vw;
  width: calc(50% - 5vw);
}

.invite-partner-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.invite-partner-title {
  font-family: var(--cabin);
  font-size: 40px;
  line-height: normal;
  font-style: normal;
  font-weight: 520;
  color: #c98c70;
  position: relative;
}

.invite-partner-subtitle {
  font-family: var(--cabin);
  font-size: 22px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  color: #314357;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.input-partner {
  margin-bottom: 3vh;
  width: 18vw;
  height: 3.5vh;
}

.partner-email-input {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-family: var(--cabin);
  font-size: 18px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  background-color: #e3b587;
  border: 2px solid #e3b587;
  border-radius: 15px;
  color: #456672;
  outline: none;
  padding: 3px 15px;
}

.input-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 4.5vh;
  margin-top: 1.5vh;
  margin-left: 2vw;
}

.invite-button {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-family: var(--cabin);
  font-size: 20px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  background-color: #314357;
  border: 2px solid #314357;
  border-radius: 15px;
  color: #e3b587;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.invite-button:hover {
  background-color: #314357;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 15px #314357;
}

.partner-email-input:focus,
.trip-name-input:focus,
.trip-location-input:focus,
.start-date-input:focus,
.end-date-input:focus {
  border-color: #e3b587;
  box-shadow: 0 0 10px #e3b587;
}

.logout-menu {
  position: absolute;
  right: 100px; /* Adjust as necessary */
  top: 100px; /* Adjust to position below the avatar */
  background-color: #e3b587;
  border: 1px solid #e3b587;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.logout-menu button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: var(--cabin);
}

.open-plans {
  color: #c98c70;
  font-family: var(--cabin);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #314357;
  border: 2px solid #314357;
  border-radius: 7px;
  padding: 3px 15px 3px 15px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  margin-right: 1vw;
}

.open-plans:hover {
  background-color: #c98c70;
  color: #314357;
  border: 2px solid #314357;
}
